
* { box-sizing: border-box; }

body {
	background-color: #fcfcfc;
    color: #34495e;
}

/*Header*/

header {
    width: 100%;
	position: fixed;
	background: #f8f8f8;
    z-index: 99;
}

header .logo {
    float: left;
    position: relative;
}

header .site-title, header h1 {
    font-size: 32px;
    line-height: 1.2;
}

span.site-title {
    width: auto;
    display: inline-block;
    padding: 10px 0;
}

header .logo img {
    margin-right: 10px;
}

header .logo img.retina {
    display: none;
}

@media not all, not all, only screen and (-webkit-min-device-pixel-ratio: 2), not all {

	header .logo img.standard {
    display: none;
	}
	header .logo img.retina {
    display: inline;
	}
}

@media only screen and (max-width: 767px) {
	header .logo img {
    	padding-left: 15px;
	}
}


/*Navigation*/

.navbar-default {
    width: 100%;
    margin-bottom: 0;
}

.navbar-nav {
    float: right;
    padding: 20px 0;
}

.navbar-nav li {
	display: inline-block;
    margin: 0 0 0 40px;
    padding: 0;
}

.navbar-default .navbar-nav > li > a {
	color: #1a1a1a;
    font-family: 'Roboto','OpenSans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 20px 0 18px 0;
    text-decoration: none;
    transition: color 600ms;
    -webkit-transition: color 600ms;
}

.navbar-default .navbar-nav > li > a:hover {
     color: #1E8CBE;
     text-decoration: none;
}

.navbar-default .navbar-toggle {
    margin-top: 30px;
    background-color: #2a2a2a!important;
    padding: 12px 10px;
}

.navbar-default .navbar-toggle:hover {
    background-color: #1E8CBE!important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

@media only screen and (max-width: 767px) {
	.navbar-nav {
    	float: none;
    	padding: 0;
    	background-color: #2a2a2a;
    	margin: 0 -15px;
	}
	.navbar-nav li {
        display: block;
        margin: 0 auto;
        text-align: center;
        border-bottom: 1px solid #444;
    }
    .navbar-default .navbar-nav > li > a {
		color: #fff;
		padding: 22px 0 20px 0;
	}
}

/*Portfolio*/

.bw {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.img-rounded:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}
	
.img-rounded {
		border-radius:0rem;
		width:100% 
}

.nopad {
	padding:0.8rem;
	padding-bottom:1rem;	
}

#wrk {
		font-size:1.2rem;
		padding-right:1.5rem;
	}

#work {
	padding-right:1.7rem;
	padding-left:1.7rem;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}



/*Page Header & Hero*/

.jumbotron {
    /*background-color: #1e8cbe; background-color: rgba(30, 140, 190,0.55);*/
    background-color: #f4f4f4;
    color: #444;
    padding-top: 12%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    min-height: 270px;
}

body#home .jumbotron {
	min-height: 730px;
    background: url(../img/home-hero.jpg);
    background-size: cover;
    background-position: center 100%;
    margin-bottom: 0px;
}


body#home .jumbotron .container {
	position: absolute;
    left: 30%;
    top: 20%;
}

.jumbotron.pageheader {
	padding-top: 10%;

}

.jumbotron.pageheader h1 {	
	color: #4A4A4A;
	font-size: 5rem;
    letter-spacing: .5px;
}

body#portfolio-child .jumbotron.pageheader, body#page-child .jumbotron.pageheader {
	padding-top: 9%;
}


@media only screen and (max-width: 767px) {
	.jumbotron {
		padding-top: 30%;
	}
}

.jumbotron h1 {
    color: #1a1a1a;

}

.jumbotron h2 {
    color: #222;
}

.jumbotron p {
    color: #f9f9f9;
}

#about .container {
	width: 80%;
	margin: 0 auto;
}

.pageheader {
	margin-bottom: 40px;
}

.pageheader h1 {
    text-align: center;
    margin-left: -10%;
}

.image {
    display: inline-block;
    float: left;
}

.image img {
	width: 100%;
}

.column {
    display: inline-block;
    float: left;
}

.bottom40 {
	margin-bottom: 40px;
}

.main-text {
	clear: both;
	padding-top: 60px;
}

.column {
    width: 30%;
    padding: 0 20px;
}

.onethird {
    width: 30%;
}

.twothird {
    width: 60%;
}

.skills {
	background-color: #f4f4f4;
	margin-left: 50px;
    width: 290px;
    padding: 5px 15px 20px;
}

/*Footer*/

footer.container {
    margin: 0 auto;
    padding: 20px 5px;
    font-size: 12px;
    letter-spacing: 0.1em;
    color: #888;
    text-align: center;
}

@media (min-width: 62.8125em) {
	footer.container .footer-quick-links .trigger-scroll {
    	float: left;
	}
	footer.container .footer-quick-links .ql-contact {
    float: right;
	}
	footer.container .desktop-only {
    display: block;
	}
	footer.container .nav-footer {
    float: left;
	}
}

footer.container .footer-quick-links a i {
    display: inline-block;
    margin-top: -5px;
    vertical-align: middle;
}

.icon-up-circled:before {
    content: '\e809';
}

footer.container .logo-mark {
    position: relative;
    margin: 30px 0;
    font-size: 8px;
    color: #a5a39e;
}

footer.container .logo-mark:before {
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: #a5a39e;
    content: '';
}

footer.container .nav-footer a {
    display: inline-block;
    margin: 0 5px;
}

footer.container .footer-copyright {
    float: right;
}

.footer-bottom p {
	text-transform: uppercase;
	float: left;
    font-family: 'Roboto','OpenSans', Arial, sans-serif;
}



/*Typography*/

h1,
h2,
h3 {
  font-family: 'Roboto','OpenSans', Arial, sans-serif;
  font-weight: 500;
}

p, li {
	font-family: 'Merriweather', Georgia, serif;
}

.intro p, p.intro {
    font-family: 'Merriweather', Georgia, serif;
    font-size: 3em;
    font-weight: 300;
    -webkit-margin-before: 0;
}

.skills h3 {
	margin-left: 40px;
	text-transform: uppercase;
	font-weight: 300;
    font-size: 16px;
}


/**** About page ****/


/**** Portfolio page ****/


/**** Contact page ****/


/**** Responsive Design ****/

/* Large desktop */
@media (min-width: 1200px) { ... }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }

/* Landscape phones and down */
@media (max-width: 480px) { ... }





